:root {
    --clr-accent: #0077b6;
    --clr-success: #2a9d8f;
    --crl-error: #e63946;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

small {
    color: var(--clr-error, #e63946);
}

.container {
    width: 90%;
    max-width: 30rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    padding: 2rem 1.5rem;
}

.sign-up-form > .wrapper {
    width: 100%;
    margin-bottom: 1.5rem;
}

.sign-up-form input,
.sign-up-form label {
    display: block;
    width: 100%;
}

.sign-up-form  label {
    margin-bottom: 0.4rem;
}

.sign-up-form  input {
    font-size: 0.9rem;
    height: 2rem;
    padding: 0 0.5rem;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.sign-up-form input:focus {
    outline: none;
}

button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.7em 0.8em;
    border: none;
    background-color: var(--clr-accent, #0077b6);
    color: white;
    cursor: pointer;
}

button.block {
    display: block;
    width: 100%;
}

.error > input {
    border: 1px solid var(--clr-error, #e63946); 
}

.success > input {
    border: 1px solid var(--crl-success, #2a9d8f);
}

